* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-items: center;
  font-family: "Roboto", sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
  justify-items: center;
  margin: 1em;
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 400px;
  box-shadow: 0px 8px 5px 0px gray;
}
img:hover {
  animation-name: imggrow;
  animation-duration: 0.7s;
}

.track {
  width: 400px;
  text-align: center;
  display: block;
}

p {
  margin: 0;
  font-size: 1rem;
}
@keyframes imggrow {
  0% {
    box-shadow: 0px 8px 5px 0px gray;
  }
  70% {
    box-shadow: 5px 16px 10px 5px rgb(36, 36, 36);
  }
  100% {
    box-shadow: 0px 8px 5px 0px gray;
  }
}
