.tracks {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}
.deletelink {
  font-size: 2em;
  color: gray;
  text-decoration: none;
}
.deletelink:hover {
  color: red;
}
.edditlink {
  font-size: 2em;
  color: gray;
  text-decoration: none;
}
.edditlink:hover {
  color: #13c843;
}
body {
  overflow: hidden;
}
